/****************************
 ====== Votre CSS =====
 ****************************/
*{
    letter-spacing: 3px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.headerlist {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav li{
    font-family: "Josefin Sans";
    margin-right: 40px;
}

h1{
    font-family: "Arvo";
    font-weight: lighter;
    font-size: 35px;
    text-align: center;
}

section img{
    width: 50%;
}

.one{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

footer{
    background-color: #F7F7F7;
    padding-top: 50px;
}

footer ul li{
    margin-right: 25px;
    letter-spacing: 2px;
}

footer ul{
    margin: 30px 0 80px 0;
}

footer section {
    font-family: "Josefin Sans";
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.center{
    margin-right: 2%;
    margin-left: 2%;

}

article {
    flex: 1;
}

article ul{
    padding: 0;
}
.listfooter {
    list-style: none;
    display: flex;
    flex-direction: row;
}

article ul li {
    margin-bottom: 15px;
}



ul {
    list-style: none;
}

/*video {

}*/

input{
    border:none;
}

form{
    border:1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    border-color: #e5e5e5;
    background-color: white;
}
hr{
    background-color: black;
    margin-bottom: 30px;
    padding: 0px;
}

.email{
    margin:10px 0 10px 10px ;
}

.submit{
    background-color: black;
    color:white;
    height:45px;
    width: 120px;
    border-radius: 4px;
    font-family: "sans-serif","Josefin Sans";
    font-weight: bolder;

}

p, .email{
    letter-spacing: 1px;
}

h5{
    font-weight: normal;
    letter-spacing: 1px;
}

